<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <script src="https://kit.fontawesome.com/747429de01.js" crossorigin="anonymous"></script>

    <meta property="og:title" content="Anonfile" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://anonfile.xyz" />
    <meta property="og:description" content="Share files anonymously and free" />
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/anonfile-9a91e.appspot.com/o/assets%2Fimg%2Ffavicon.png?alt=media&token=b496f274-648c-4ee2-aa21-19ce4683d65b" />

    <meta name="propeller" content="f318bf574f8ff398c647ee02a60455b0">

    <meta name="theme-color" content="#212121">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151218387-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-151218387-1');
    </script>

    <title>Anonfile</title>
  </head>
<body>
    <noscript>
      <strong>We're sorry but anonfile doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=563526537815097&autoLogAppEvents=1"></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
