<template>
  <div class="about">
    <b-container fluid>
        <b-row>
            <b-col cols=10 offset=1 md=6 offset-md=3 class="card p-5">
                <h4> {{ $t('page.about.title') }} </h4>
                <p v-html="$t('page.about.main')"></p>
            </b-col>
        </b-row>

        <b-row class="h-100 mt-2">
            <b-col cols=10 offset=1 md=9 offset-md=3>
                <h5> {{ $t('page.about.supportUs') }} </h5>
            </b-col>

            <b-col cols=10 offset=1 md=2 offset-md=3 class="p-0 pr-1 my-auto">
                <a href="https://www.patreon.com/luyou" target="_blank"><b-img fluid src="/assets/img/patreon.png"></b-img></a>
            </b-col>
            <b-col cols=10 offset=1 md=2 offset-md=0 class="p-0 text-center my-auto">
                <a class="a-bmc-img" href="https://www.buymeacoffee.com/JYhZstH" target="_blank" style="witdth: 100%; height: 100%;"><b-img class="bmc-img" src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee" fluid /></a>
            </b-col>
            <b-col cols=10 offset=1 md=2 offset-md=0 class="p-0 pl-1 text-center my-auto">
                <a href="https://paypal.me/luballsoftware" target="_blank">
                    <b-img src="https://1000logos.net/wp-content/uploads/2017/05/Paypal-Logo.png" class="pp-img" fluid />
                </a>
            </b-col> 
        </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "about"
}
</script>

<style>

</style>