<template>
  <div class="about">
    <b-container v-if="validateDoc == 'loading'">
      <b-row>
        <b-col class="text-center mt-4">
          <b-spinner style="width: 3rem; height: 3rem;" label="Loading..." variant="info" type="grow"></b-spinner>
        </b-col>
      </b-row>
    </b-container>

    <b-container v-else-if="validateDoc == true">
      <b-row>
        <b-col>
          <display-media :file="fileDoc" />
        </b-col>
      </b-row>
    </b-container>

    <b-container v-else-if="validateDoc == false">
      <b-row>
        <b-col>
          {{ $t("error.message.fileNotFound") }}
        </b-col>
      </b-row>
    </b-container>
    
  </div>
</template>

<script>
import DisplayMedia from '@/components/DisplayMedia.vue';
import { filesCol } from "@/fireConf";
  
import i18n from "@/i18n";

export default {
  name: 'File',
  components: {
    DisplayMedia
  },
  data(){
    return {
      fileDoc: "loading",
    }
  },
  computed: {
    validateDoc(){
      if(this.fileDoc == "loading"){
        return this.fileDoc;
      }else if(typeof this.fileDoc == "object"){
        return true;
      }else{
        return false;
      }
    }
  },
  beforeCreate(){
    var main = this;
    var fileUrl = this.$route.params.file;

    filesCol.doc(fileUrl).get().then(function(doc){
      if(doc.exists) {
          main.fileDoc = doc.data();
          console.log(typeof main.fileDoc, doc.data());
      } else {
          main.fileDoc = false;
          // doc.data() will be undefined in this case
          console.log("No such document!");
      }

    }).catch(function(err){
      main.fileDoc = false;
      console.log(err)
    })
    console.log(fileUrl)
  },
  methods: {
    changeLanguage(lang){
      i18n.locale = lang;
      console.log(i18n.locale)
    }
  }
}
</script>

<style>

  .logo{
    max-width: 64px!important;
  }

</style>
