<template>
  <div class="mt-4">
    <b-container>
        <b-row>
          <b-col>
            <VueScriptComponent script='<script async="async" data-cfasync="false" src="//pl15237278.passeura.com/b849ea981d704c450ee7889c0b26d477/invoke.js"></script>'/>
            <div id="container-b849ea981d704c450ee7889c0b26d477"></div>
              
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12" md="6" lg="8">
            <b-container v-if="container == 'image'">
              <b-row><b-col class="text-center"><b-img :src="file.fileUrl" fluid :alt="file.name" /></b-col></b-row>
            </b-container>

            <b-container v-else-if="container == 'video'">
                <video width="100%" controls>
                  <source :src="file.fileUrl" :type="file.mime">
                  Your browser does not support HTML5 video.
                </video>
            </b-container>

            <b-container class="h-100" v-else-if="container == 'file'">
                <b-row class="h-100">
                  <b-col class="h-100 text-center">
                    <b-img class="placeholder-img" src="https://icon-library.net/images/file-icon-svg/file-icon-svg-10.jpg" fluid></b-img>
                  </b-col>
                </b-row>
            </b-container>

            <b-container v-else>
                <b-row>
                  <b-col>{{ $t('error.message.default') }}</b-col>
                </b-row>
            </b-container>
          </b-col>
          <b-col cols="12" md="6" lg="4" class="mt-2">
            <b-card
              :title="file.name"
              class="mb-2"
            >
              <span class="text-muted"> {{ file.mime }} </span>
              <b-card-text>
                {{ fileDateFormat }} <br />
              </b-card-text>

              <b-button-group v-if="!disableDownload">
                <b-button variant="primary" :href="file.fileUrl" :download="file.name">
                  <i class="fas fa-file-download" /> {{ $t('value.download') }}
                </b-button>

                <b-button variant="outline-light" v-b-modal.modal-flag v-b-tooltip.hover :title="$t('tooltip.flag')">
                  <i class="fas fa-flag" />
                </b-button>

                <b-modal hide-footer id="modal-flag" ref="modal-flag" :title="$t('modal.flag.title')">
                  <b-container>
                    <b-row>
                      <b-col>
                        <p> {{ $t('modal.flag.content') }} 😁</p>
                      </b-col>
                      
                    </b-row>

                    <b-row class="row-links">
                      <b-col class="text-center">
                        <a href="https://twitter.com/Imluyou" target="_blank"><i class="fab fa-twitter"></i></a>
                      </b-col>
                      <b-col class="text-center">
                        <a href="https://www.facebook.com/ImLuyou" target="_blank"><i class="fab fa-facebook-square"></i></a>
                      </b-col>
                      <b-col class="text-center">
                        <a href="mailto:adrian.luball@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                      </b-col>
                      <hr />
                    </b-row>
                    <b-row>
                      <b-col cols="12" class="p-0">
                        <b-form-group :label="$t('input.feedbackSelect.label')">
                          <b-form-select v-model="feed.selected" class="mb-3">
                            <option :value="null"> {{ $t('input.feedbackSelect.choose') }} </option>
                            <option value="underaged">{{ $t('input.feedbackSelect.underaged') }}</option>
                            <option value="copy">{{ $t('input.feedbackSelect.copyright') }}</option>
                            <option value="hi">{{ $t('input.feedbackSelect.hi') }}</option>
                            <option value="other">{{ $t('input.feedbackSelect.other') }}</option>
                          </b-form-select>
                        </b-form-group>
                      </b-col>

                      <b-col cols="12" class="p-0">
                        <b-form-group :label="$t('input.feedbackComment.label')">
                          <b-form-textarea
                            v-model="feed.comment"
                            :placeholder="$t('input.feedbackComment.placeholder')+'...'"
                            rows="3"
                            max-rows="6"
                          ></b-form-textarea>
                        </b-form-group>
                      </b-col>
                    </b-row>

                    <b-row>
                      <b-col class="text-right">
                        <b-button variant="primary" @click="sendFeedback">{{ $t('value.send') }}</b-button>
                      </b-col>
                    </b-row>

                  </b-container>
                </b-modal>
              </b-button-group>

              <p v-else class="text-muted">
                {{ $t('value.disableAdBlock') }}
              </p>
            </b-card>
            <b-col cols="12" class="text-center container-responsive m-0 p-0">
              <VueScriptComponent script="<script type=text/javascript>
                atOptions = {
                  'key' : 'dd95eba13fcf13b8b41b9ae9787d6094',
                  'format' : 'iframe',
                  'height' : 250,
                  'width' : 300,
                  'params' : {}
                };
                document.write('<scr' + 'ipt type=text/javascript src=http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/dd95eba13fcf13b8b41b9ae9787d6094/invoke.js'+'></scr' + 'ipt>');
              </script>" />
            </b-col>
          </b-col>
        </b-row>
    </b-container>

    <b-modal 
      id="display-modal"
      ref="display-modal"
      @hidden="reloadPage"
      centered
      hide-header
      hide-footer>
      <h4>{{ $t('modal.adBlock.title') }}</h4>
      <p class="my-2">{{ $t('modal.adBlock.content') }}</p>
      <b-button block variant="info" @click="reloadPage"> {{ $t('value.refresh') }} </b-button>
    </b-modal>
  </div>
</template>

<script>
import { feedsCol } from "@/fireConf";
import VueScriptComponent from 'vue-script-component';
import adblockDetect  from 'adblock-detect';

export default {
  props: ['file'],
  name: 'display-media',
  components: {
    VueScriptComponent
  },
  data(){
    return {
      container: false,
      disableDownload: false,

      feed: {
        selected: null,
        from: "",
        comment: "",
      }
    }
  },
  watch:{
    Email: function(newVal){
      console.log(newVal)
    }
  },  
  computed: {
    fileDateFormat(){
      var dated = new Date(this.file.timestamp);
      return dated.getDate()+" - "+(dated.getMonth()+1)+" - "+dated.getFullYear()+" "+(dated.getHours()+1)+":"+((dated.getMinutes()<10?'0':'') + dated.getMinutes());
    },
    Email(){
      return window.Email;
    }
  },
  created(){
    var main = this;

    if(main.file.hasOwnProperty("fileUrl")){
      var aux = main.file.mime.substring(0, 5);
      switch(aux){
        case "image":
          main.container = aux;
        break; 

        case "video":
          main.container = aux;
        break; 

        default: 
          main.container = "file";
        break;
      }
    }
  },
  mounted(){
    var main = this;
    adblockDetect(function(adblockDetected) {
        if(adblockDetected){
          main.disableDownload = true;
          main.$refs["display-modal"].show();
        }

    });   
    
  },
  methods: {
    reloadPage(){
      location.reload();
    },
    sendFeedback(){

        var main = this;

        if(!main.feed.selected){
          main.$bvToast.toast(main.$t('toast.feedFail.reason.content'), {
            title: main.$t('toast.feedFail.reason.title'),
            autoHideDelay: 5000,
            variant: "danger"
          })
          return false;
        }

        feedsCol.add(main.feed).then(ref => {
          console.log('document ID: ', ref.id);
          main.$bvToast.toast(main.$t('toast.feedSuccess.content'), {
            title: main.$t('toast.feedSuccess.title'),
            autoHideDelay: 5000,
            variant: "primary"
          });

          main.$refs["modal-flag"].hide();
        }).catch(function(err){
          main.$bvToast.toast({
            title: main.$t('error.message.default'),
            autoHideDelay: 5000,
            variant: "danger"
          })
          console.log(err)
        });
    }
  }
}
</script>

<style>
  h4{
    font-size: 1em;
    font-weight: bold;
  }
  .full{
     transform: scale(1.5,1);
     -webkit-transform: scale(1.5,1); -moz-transform: scale(1.5,1); -ms-transform: scale(1.5,1); -o-transform: scale(1.5,1); transform: scale(1.5,1);
  }

  .placeholder-img{
    
    border-radius: 15px;
    background-color: white; 
    max-width: 60%;
  }

  .row-links a{
    font-size: 3em;
    color: #F8F9FA;
  }

  .row-links a:hover{
    color: #C7C7C7;
  }
</style>
