<template>
  <div id="file-drag-drop">
    <div style="visibility:hidden; opacity:0" id="dropzone">
        <div id="textnode">Drop files to add data.</div>
    </div>

    <b-container fluid>
      <b-row>
        <b-col class="text-center container-responsive">
          <VueScriptComponent script="<script type=text/javascript>
            atOptions = {
              'key' : '29b1081d2df25eda3a4bd7e8c74b5db6',
              'format' : 'iframe',
              'height' : 90,
              'width' : 728,
              'params' : {}
            };
            document.write('<scr' + 'ipt type=text/javascript src=http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/29b1081d2df25eda3a4bd7e8c74b5db6/invoke.js'+'></scr' + 'ipt>');
          </script>" />
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <p class="mt-2 mb-2"> {{ $t('page.landing.main') }} </p>
        </b-col>
      </b-row>
      <b-row class="mt-2">
        <b-col>
          <b-form-file :placeholder="$t('input.files')" ref="input-file" v-model="tempFile" :browse-text="$t('value.browse')" :no-drop="false" @change="setFromInput" multiple />
        </b-col>
      </b-row>
      <b-row class="mt-1">
        <b-col>
          <b-list-group class="mb-2">
            <b-list-group-item v-for="(file, key) in files" v-bind:key="key" class="d-flex justify-content-between align-items-center">
              <b-img fluid style="width: 50px; color: #969696" class="preview" :ref="'preview'+parseInt( key )"/>
              <div class="ml-1">
                <span style="word-break: break-all;">{{ file.name }}</span> <br/>
                <b-progress v-if="file.progress > 0 && file.progress < 100" :value="file.progress" :max="100" show-progress animated></b-progress>
                <div v-if="file.url.length">  
                  <b-button-group class="w-100">
                    <b-button variant="info" v-b-tooltip.hover title="Copy file url" @click="copyUrl(file.url)"><i class="fas fa-copy" /></b-button>
                    <b-button variant="info" v-b-tooltip.hover title="Open link" @click="openUrl(file.url)"> <i class="fas fa-external-link-alt" /> </b-button>
                  </b-button-group>
                </div>

                <div v-if="file.error && !file.url.length">
                  <span class="text-secondary">{{ $t('error.message.noFile') }}</span>
                </div>

              </div>
              
              <b-badge v-if="!file.url.length" variant="danger" class="remove-button" pill v-on:click="removeFile(key)"><i class="fas fa-times" /></b-badge>
              <b-badge v-else variant="success" pill><i class="fas fa-check" /></b-badge>
            </b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>
    </b-container>

    <b-navbar v-if="files.length" :sticky="true" fixed="bottom" toggleable="lg" type="dark" variant="info" class="p-0">
      <b-container fluid class="m-0 p-0">
        <b-button :disabled="disableSubmit" variant="info" class="w100 " style="height: 50px;" @click="submitFiles()" block> {{ $t('value.upload') }} </b-button>
        
      </b-container>
    </b-navbar>

    <b-modal 
      id="display-modal"
      ref="display-modal"
      @hidden="reloadPage"
      centered
      hide-header
      hide-footer>
      <h4>{{ $t('modal.adBlock.title') }}</h4>
      <p class="my-2">{{ $t('modal.adBlock.content') }}</p>
      <b-button block variant="info" @click="reloadPage"> {{ $t('value.refresh') }} </b-button>
    </b-modal>
  </div>
</template>

<script>
  import VueScriptComponent from 'vue-script-component';
  import adblockDetect  from 'adblock-detect';
  import { auth, storage, filesCol } from "@/fireConf";
  import copy from "copy-text-to-clipboard";

  export default {
    components: {
      VueScriptComponent
    },
    data(){
      return {
        dragAndDropCapable: false,
        files: [],
        uploadPercentage: 0,
        user: null,
        tempFile: null,

        progress: 0,
        dMax: 100,

        disableSubmit: false,
      }
    },
    computed:{
      userInfo:{
        set(value){
          this.user = value;
        },
        get(){
          return this.user;
        }
      }
    },
    beforeCreate(){
      var main = this;
      auth.onAuthStateChanged(function(user) {
        if(user){
          main.user = user;
        }else{
          auth.signInAnonymously().catch(function(error) {
            console.log(error)

          });
        }

      });
    },
    mounted(){

      var main = this;
      this.dragAndDropCapable = this.determineDragAndDropCapable();
      if( this.dragAndDropCapable ){
  
        window.addEventListener("dragenter", function() {
            document.querySelector("#dropzone").style.visibility = "";
            document.querySelector("#dropzone").style.opacity = 1;
            document.querySelector("#textnode").style.fontSize = "48px";
        });

        window.addEventListener("dragleave", function(e) {
            e.preventDefault();
            document.querySelector("#dropzone").style.visibility = "hidden";
            document.querySelector("#dropzone").style.opacity = 0;
            document.querySelector("#textnode").style.fontSize = "42px"; 
        });

        window.addEventListener("dragover", function(e) {
            e.preventDefault();
            document.querySelector("#dropzone").style.visibility = "";
            document.querySelector("#dropzone").style.opacity = 1;
            document.querySelector("#textnode").style.fontSize = "48px";
        });

        window.addEventListener("drop", function(e) {
          e.preventDefault();
          document.querySelector("#dropzone").style.visibility = "hidden";
          document.querySelector("#dropzone").style.opacity = 0;
          document.querySelector("#textnode").style.fontSize = "42px";
          
        var files = e.dataTransfer.files;
          console.log("Drop files:", files);
          //this.uploadFile(files);
          for( let i = 0; i < e.dataTransfer.files.length; i++ ){
            var file = {
              progress: 0,
              name: e.dataTransfer.files[i].name,
              url: "",
              file: e.dataTransfer.files[i],
            }
            main.files.push(file);
            main.getImagePreviews();
          }
        });
        
      }

      adblockDetect(function(adblockDetected) {
        console.log(adblockDetected);
        if(adblockDetected){
          main.disableDownload = true;
          main.$refs["display-modal"].show();
        }
      });    
    },

    methods: {
      reloadPage(){
        location.reload();
      },
      setFromInput(e){
        var main = this;
        for( let i = 0; i < e.target.files.length; i++ ){
          var file = {
            progress: 0,
            name: e.target.files[i].name,
            url: "",
            file: e.target.files[i],
          }
          main.files.push(file);
          main.getImagePreviews();
        }
      },
      test(){
        console.log(this.userInfo);
      },
      determineDragAndDropCapable(){
        var div = document.createElement('div');
        return ( ( 'draggable' in div )
                || ( 'ondragstart' in div && 'ondrop' in div ) )
                && 'FormData' in window
                && 'FileReader' in window;
      },
      getImagePreviews(){

          for( let i = 0; i < this.files.length; i++ ){

            if ( /\.(jpe?g|png|gif)$/i.test( this.files[i].file.name ) ) {
  
              let reader = new FileReader();
              reader.addEventListener("load", function(){
                try{
                  this.$refs['preview'+parseInt( i )][0].src = reader.result;
                }catch(e){ console.log(e) }
                
              }.bind(this), false);

              reader.readAsDataURL( this.files[i].file );
            }else{

              this.$nextTick(function(){
                try{
                  this.$refs['preview'+parseInt( i )][0].src = 'https://icon-library.net/images/file-icon-svg/file-icon-svg-10.jpg';
                }catch(e){ console.log(e) }
                
              });
            }
          }
        
      },

      submitFiles(){
        console.log(filesCol, this.userInfo);
        var main = this;

        main.progress = 0;
        
        for( var i = 0; i < this.files.length; i++ ){
          main.disableSubmit = true;
          console.log(main.files[i]);
          if(this.files[i].hasOwnProperty("file")){
            var dbFile = {
              url: this.uuidv4(),
              name: this.files[i].file.name,
              mime: this.files[i].file.type,
              type: this.files[i].file.name.split('.').pop(),
              timestamp: new Date().getTime(),
              file: this.files[i].file
            }

            this.uploadFile(dbFile,i);
          }else{
            this.files[i].error = false;
            main.disableSubmit = false;
            continue;
          }
        }
      },

      uploadFile(obj,index){
          var main = this;
          main.$forceUpdate();
          let uploadTask = storage.ref("file/"+this.uuidv4()+"/"+obj.name).put(obj.file);
          uploadTask.on('state_changed', function(snapshot){
            main.files[index].progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
            main.disableSubmit = true;
          }, function(error) {
            main.files[index].error = true;

            console.log(error)
          }, function() {

            uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
              obj["fileUrl"] = downloadURL;
              delete obj["file"];
              
              filesCol.add(obj).then(ref => {
                obj["url"] = ref.id;
                main.files[index] = obj;
                main.$forceUpdate();
                console.log('document ID: ', ref.id);
                main.disableSubmit = false;
                main.getImagePreviews();
              }).catch(function(err){
                main.files[index].error = true;
                console.log(err)
              });
            });
          });
      },
      removeFile( key ){
        this.files.splice( key, 1 );
        this.getImagePreviews();
      },
      copyUrl(fileUrl){
        copy(window.location.href.split('#')[0]+'file/'+fileUrl);
      },
      openUrl(fileUrl){
        window.open(window.location.href.split('#')[0]+'file/'+fileUrl,"_blank");
      },
      uuidv4() {
        return 'xxxxxxxxxxxx4xxxyxxxxxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      }
    }
  }
</script>

<style>
  div#dropzone {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999999999;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: visibility 175ms, opacity 175ms;
      display: table;
      text-shadow: 1px 1px 2px #000;
      color: #fff;
      background: rgba(0, 0, 0, 0.45);
      font: bold 42px Oswald, DejaVu Sans, Tahoma, sans-serif;
  }

  div#textnode {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      transition: font-size 175ms;
  }

  .remove-button:hover{
    cursor: pointer;
    box-shadow:inset 0 0 0 9999px rgba(0,0,0,0.3);
  }

  .custom-file-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>