<template>
  <div id="app">
    <div id="wrapper">
      <b-navbar toggleable="lg" type="dark" :sticky="true" variant="dark">
        <b-navbar-brand to="/"> <b-img class="logo" src="https://firebasestorage.googleapis.com/v0/b/anonfile-9a91e.appspot.com/o/assets%2Fimg%2Ffavicon.png?alt=media&token=b496f274-648c-4ee2-aa21-19ce4683d65b" fluid :alt="$t('appName')" /> </b-navbar-brand>
  
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
  
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item to="/about"> {{ $t("navbar.about") }} </b-nav-item>
          </b-navbar-nav>
  
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-navbar-nav>
              <b-nav-item href="https://www.patreon.com/luyou" target="_blank"> <i class="fab fa-patreon"></i> </b-nav-item>
              <b-nav-item href="https://fb.me/ImLuyou" target="_blank"> <i class="fab fa-facebook"></i> </b-nav-item>
              <b-nav-item href="https://twitter.com/Imluyou" target="_blank"> <i class="fab fa-twitter"></i> </b-nav-item>
              <b-nav-item href="http://serconmp.com/afu.php?zoneid=2959537" target="_blank"> <i class="fas fa-ad"></i> </b-nav-item>
            </b-navbar-nav>
  
            <b-nav-item-dropdown :text="$t('navbar.lang')" right>
              <b-dropdown-item @click="changeLanguage('en')">EN</b-dropdown-item>
              <b-dropdown-item @click="changeLanguage('es')">ES</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
      <router-view/>
    </div>
    
    <footer class="pt-3">
      <b-container>
        <b-row>
          <b-col class="text-center">
            <a href="https://twitter.com/ImLuyou?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="en" data-dnt="true" data-show-count="false">Follow @ImLuyou</a><VueScriptComponent script='<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>' />
          </b-col>
          <b-col class="text-center">
            <div class="fb-like" data-href="https://facebook.com/luyou" data-width="" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="text-center">
            <small v-html="footerCopy"></small> <br/>
            <small class="text-muted">Created by <a href="https://www.patreon.com/luyou" target="_break" class="text-muted">Adrian Legaspi</a></small>
          </b-col>
        </b-row>
      </b-container>
    </footer>
  </div>
</template>

<script>
import VueScriptComponent from 'vue-script-component';
import i18n from "@/i18n";

export default {
  name: 'landing',
  components: {
    VueScriptComponent
  },
  computed:{
    footerCopy(){
      return this.$t('appName')+' '+(new Date().getFullYear())+'&copy;'; 
    }
  },
  methods: {
    changeLanguage(lang){
      i18n.locale = lang;
      console.log(i18n.locale)
    }
  }
}
</script>

<style>

  .logo{
    max-width: 46px!important;
  }

  #wrapper{
    min-height: calc(92vh - 72px);
  }

  footer{
    min-height: 8vh;
    bottom: 0;
  }

  .container-responsive img{
    width: 100%;
    height: auto;
  }

  @media (max-width: 992px) {

    .container-responsive iframe, .container-responsive iframe img{
      width: 100%;
      height: auto;
    }

    .container-responsive iframe{
      max-height: 92px;
    }
  }

</style>
